---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ site.title }}</h1>
          {% if site.description %}
          <span class="subheading">{{ site.description }}</span>
          {% endif %}
          <img class="img-responsive my-3" src="/img/logo.png" width="300" height="300" />
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid px-3 px-md-4">
  {{ content }}
</div>

<div class="container mt-5 mb-4" id="location-card">
  {% include location.html %}
</div>
