---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">

        {{ content }}

      </div>
      <div class="col-lg-4 col-12 mx-auto" id="location-card">
        <div class="card p-3">
          <div class="card-body">
            <h4 class="h5">Junglefowl Brazilian Jiu-Jitsu</h4>
            <p class="card-text">86 Main Street<br>Sackville, New Brunswick<br>E4L 1G6</p>
            <p class="card-text"><a href="mailto:contact@junglefowlbjj.ca">Email</a>
          </div>
          <div class="ratio ratio-1x1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2776.7136538430946!2d-64.37177532305037!3d45.897039771084366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5f50eeccf81e27%3A0x734ee7b6dd81b482!2s86%20Main%20St%2C%20Sackville%2C%20NB%20E4L%201G6%2C%20Canada!5e0!3m2!1sen!2sgr!4v1704628289994!5m2!1sen!2sgr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
